In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
297,tt0929632,10000000,63647833,Precious,Gabourey Sidibe|Mo'Nique|Paula Patton|Mariah C...,Lee Daniels,Life is hard. Life is short. Life is painful. ...,"Set in Harlem in 1987, claireece ""Precious"" Jo...",110,Drama,Smokewood Entertainment Group,11/6/2009,6.8,2009
1384,tt0376108,45000000,16809014,Rebound,Martin Lawrence|Wendy Raquel Robinson|Breckin ...,Steve Carr,A comedy where old school ...meets middle school,An acclaimed college hoops coach is demoted to...,103,Comedy|Family,Twentieth Century Fox Film Corporation|Robert ...,7/1/2005,5.5,2005
173,tt1086772,40000000,123494610,Blended,Drew Barrymore|Adam Sandler|Wendi McLendon-Cov...,Frank Coraci,"Single Dad, No Clue. Single Mum, Flying Solo.","After a bad blind date, a man and woman find t...",117,Comedy,Happy Madison Productions|Karz Entertainment|W...,5/21/2014,6.7,2014
299,tt1139668,16000000,76514050,The Unborn,Odette Annable|Gary Oldman|Meagan Good|Cam Gig...,David S. Goyer,Evil will do anything to live.,A young woman fights the spirit that is slowly...,87,Horror|Thriller|Mystery,Rogue Pictures|Phantom Four|Platinum Dunes|Rel...,1/9/2009,4.9,2009
1095,tt0311429,78000000,179265204,The League of Extraordinary Gentlemen,Sean Connery|Peta Wilson|Shane West|Stuart Tow...,Stephen Norrington,The power of seven become a league of one.,"To prevent a world war from breaking out, famo...",110,Fantasy|Action|Thriller|Science Fiction,Twentieth Century Fox Film Corporation|JD Prod...,7/11/2003,5.6,2003

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [0]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723    Pirates of the Caribbean: On Stranger Tides' #+
# если ответили верно, можете добавить комментарий со значком "+"

In [13]:
# тут пишем ваш код для решения данного вопроса:
#answer['1']
data[(data.budget == data.budget.max())].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'

In [99]:
data[(data.runtime == data.runtime.max())].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [19]:
answers['3'] = 'Winnie the Pooh'

NameError: name 'answers' is not defined

In [22]:
data[(data.runtime == data.runtime.min())].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [97]:
answers['4'] = '110.0'

110.0

In [25]:
round(data.runtime.mean(),0)

110.0

# 5. Каково медианное значение длительности фильмов?

In [96]:
answers['5'] = '107.0'

107.0

In [24]:
round(data.runtime.median(),0)

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [91]:
answers['6'] = 'Avatar'

239    Avatar
Name: original_title, dtype: object

In [23]:
# лучше код получения столбца profit вынести в Предобработку что в начале
profit = data['revenue'] - data['budget']
data[(profit == profit.max())].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [92]:
profit = data['revenue'] - data['budget']
data[(profit == profit.min())].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [87]:
len(data[(data.revenue > data.budget)])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [94]:
data1 = data[(data.release_year==2008)]
profit = data1['revenue'] - data1['budget']
data1[(profit == profit.max())].original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [95]:
data1 = data[((data.release_year<=2014) & (data.release_year>=2012))]
profit = data1['revenue'] - data1['budget']
data1[(profit == profit.min())].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [78]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data = data.copy()
data['genres'] = data.genres.str.split('|')
data = data.explode('genres')
data['genres'].value_counts().index[0]

'Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [77]:
data = data.copy()
data['genres'] = data.genres.str.split('|')
data = data.explode('genres')
data['genres'][((data.revenue - data.budget) > 0)].value_counts()

<ipython-input-77-32ac4f814f4c>:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  data.profit = data.revenue - data.budget

Drama              2799
Comedy             2754
Thriller           2230
Action             2220
Adventure          1685
Romance            1209
Crime              1155
Family             1130
Science Fiction     975
Fantasy             940
Horror              750
Animation           600
Mystery             595
Music               235
History             230
War                 205
Western              60
Documentary          35
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [73]:
data.groupby(['director'])['revenue'].sum().sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [74]:
data1 = data[data.genres.str.contains('Action')].copy()
data1['director'] = data1.director.str.split('|')
data1 = data1.explode('director')
data1 = data1.director.value_counts()
data1.index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [72]:
data1 = data[(data.release_year==2012)]
data1 = data1.copy()
data1['cast'] = data1.cast.str.split('|')
data1 = data1.explode('cast')
data1.groupby(['cast'])['revenue'].max().sort_values(ascending=False)

cast
Scarlett Johansson    1519557910
Chris Evans           1519557910
Chris Hemsworth       1519557910
Robert Downey Jr.     1519557910
Mark Ruffalo          1519557910
                         ...
Jason Bateman            3428048
Danny Huston             2106557
Sami Gayle               2106557
Josh Lucas               2106557
Nicolas Cage             2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [14]:
data = data.copy()
data['cast'] = data.cast.str.split('|')
data = data.explode('cast')
data[(data.budget >= data.budget.mean())].cast.value_counts().index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [15]:
data1 = data[data.cast.str.contains('Nicolas Cage')].copy()
data1['genres'] = data1.genres.str.split("|")
data1 = data1.explode('genres')
data1.genres.value_counts().index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [ ]:
answers['18'] = 'K-19: The Widowmaker'

In [27]:
data['production_companies'] = data.production_companies.str.split('|')
data = data.explode('production_companies')
data1 = data[data.production_companies.str.contains('Paramount Pictures')].copy()

profit = data1['revenue'] - data1['budget']
data1[(profit == profit.min())].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [0]:
answers['19'] = '2015'

In [28]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [30]:
data['production_companies'] = data.production_companies.str.split('|')
data = data.explode('production_companies')
data1 = data[data.production_companies.str.contains('Warner Bros')].copy()

data1['profit'] = data1['revenue'] - data1['budget']
data1.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).index[0]

2014

In [ ]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [75]:
data['release_date'] = pd.to_datetime(data['release_date'])
data['release_month'] = data['release_date'].apply(lambda x: x.strftime('%B'))
data = data.copy()
data.release_month.value_counts().sort_values(ascending=False).index[0]

'September'

In [ ]:
answers['21'] = 'September'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [93]:
data['release_date'] = pd.to_datetime(data['release_date'])
data['release_month'] = data['release_date'].apply(lambda x: x.strftime('%B'))
data = data.copy()
month = data.release_month.value_counts()
print(month.June + month.July + month.August)

450

In [ ]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [16]:
data = data.copy()
data['release_date'] = pd.to_datetime(data['release_date'])
data.release_month = data['release_date'].apply(lambda x: x.strftime('%B'))

data['director'] = data.director.str.split('|')
data = data.explode('director')
winter = data.query('release_month in ["January", "December", "February"]')
winter.director.value_counts().index[0]

'Peter Jackson'

In [ ]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [23]:
data = data.copy()
data['title_len'] = data.original_title.apply(lambda x: len(x))

data['production_companies'] = data.production_companies.str.split('|')
data = data.explode('production_companies')

data.groupby(['production_companies'])['title_len'].mean().sort_values(
    ascending=False).index[0]

'Four By Two Productions'

In [ ]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [39]:
def LenOverview(x):
    a = x.split(' ')
    return len(a)

data = data.copy()
data['len_over'] = data.overview.apply(LenOverview)

data.groupby(['production_companies'])['len_over'].mean().sort_values(
    ascending=False).index[0]

'Midnight Picture Show'

In [ ]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [25]:
data = data.copy()
data = data[data['vote_average'] > data['vote_average'].quantile(.99)]
data

Empty DataFrame
Columns: [imdb_id, budget, revenue, original_title, cast, director, tagline, overview, runtime, genres, production_companies, release_date, vote_average, release_year]
Index: []

In [ ]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [6]:
import itertools
data = data.copy()
data['cast'] = data.cast.str.split('|').apply(lambda x: list(itertools.combinations(x, 2)))
data = data.explode('cast')
data.cast.value_counts().head()

(Daniel Radcliffe, Rupert Grint)       8
(Daniel Radcliffe, Emma Watson)        8
(Rupert Grint, Emma Watson)            7
(Ben Stiller, Owen Wilson)             6
(Johnny Depp, Helena Bonham Carter)    6
Name: cast, dtype: int64

In [ ]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

ВАРИАНТ 2

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [40]:
# и убедиться что ни чего не пропустил)
len(answers)

NameError: name 'answers' is not defined